<nav class="navbar navbar-expand-lg navbar-absolute fixed-top" style="background-color: #16A085;">
  <div class="container-fluid">
    <button class="year-button">TAHUN 2024</button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="location-info">
        <div class="icon">
          <img src="assets/img/icon-notification.png" alt="">
        </div>
        <div class="location-text">
          <span>Kab. Musi Banyuasin</span>
          <span>H. ARIFIN, S.Kep. Ns., MM</span>
        </div>
        <div class="icon logout-icon" (click)="logout()">
          <img src="assets/img/icon-logout.png" alt="">
        </div>
      </div>
    </div>
  </div>
</nav>
