<div class="banner">
    <img src="assets/img/banner.png" alt="">
</div>

<div class="berita-section">
    <div class="news-title">
        <h2>BERITA ANALISA STANDAR HARGA</h2>
    </div>
    <div class="news">
        <img src="assets/img/berita1.png" alt="">
        <img src="assets/img/berita2.png" alt="">
        <img src="assets/img/berita3.png" alt="">
    </div>
</div>

<div class="section-container">
  <h2 class="section-title">STANDAR HARGA</h2>
  <div class="cards-container">
    <div class="card">
      <h3 class="card-title">STANDAR SATUAN HARGA (SSH)</h3>
      <img src="assets/img/konstruksi.png" alt="Image 1" class="card-image">
      <p class="card-text">
        Harga Satuan Dasar yang selanjutnya disingkat HSD adalah harga satuan komponen dari harga satuan pekerjaan per satuan tertentu. 
        Harga bahan bangunan yang tercantum merupakan hasil uji petik (sampling) harga di pasaran bebas oleh Tim Penyusun pada beberapa sumber (depo, quarry, distributor, toko terpilih) yang digunakan sebagai acuan dalam proses pengolahan data.
      </p>
      <button class="card-button">Informasi Selengkapnya</button>
    </div>
    <div class="card">
      <h3 class="card-title">HARGA SATUAN POKOK PEKERJAAN (HSPK)</h3>
      <img src="assets/img/konstruksi.png" alt="Image 2" class="card-image">
      <p class="card-text">
        Biaya yang dihitung dengan analisis harga satuan suatu pekerjaan yang terdiri atas biaya langsung dan biaya tidak langsung sebagai mata pembayaran jenis pekerjaan tertentu, belum termasuk pajak pertambahan nilai berdasarkan Permen PU No.8 Tahun 2023.
      </p>
      <button class="card-button">Informasi Selengkapnya</button>
    </div>
    <div class="card">
      <h3 class="card-title">ANALISA STANDAR BELANJA (ASB)</h3>
      <img src="assets/img/konstruksi.png" alt="Image 3" class="card-image">
      <p class="card-text">
        Yaitu biaya paling banyak per meter persegi pelaksanaan konstruksi fisik pekerjaan standar untuk Pembangunan Bangunan Gedung Negara berdasarkan Permen PU No. 22/PRT/M/2018.
      </p>
      <button class="card-button">Informasi Selengkapnya</button>
    </div>
  </div>
</div>
