<div class="akun">
  <h1>Setting Web - Berita</h1>
  <mat-card appearance="outlined" class="card-utama">
    <div class="berita-utama">
      <h3>Berita Utama</h3>
      <div class="gambar">
        <h5>Gambar 1</h5>
        <input
          type="file"
          id="file-input-1"
          (change)="onFileSelected($event, 'image1Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-1')">
          Choose File
        </button>
        <span id="image1Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 2</h5>
        <input
          type="file"
          id="file-input-2"
          (change)="onFileSelected($event, 'image2Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-2')">
          Choose File
        </button>
        <span id="image2Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 3</h5>
        <input
          type="file"
          id="file-input-3"
          (change)="onFileSelected($event, 'image3Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-3')">
          Choose File
        </button>
        <span id="image3Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 4</h5>
        <input
          type="file"
          id="file-input-4"
          (change)="onFileSelected($event, 'image4Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-4')">
          Choose File
        </button>
        <span id="image4Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 5</h5>
        <input
          type="file"
          id="file-input-5"
          (change)="onFileSelected($event, 'image5Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-5')">
          Choose File
        </button>
        <span id="image5Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
    </div>

    
    <div class="berita-utama">
      <h3>Berita Lainnya</h3>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Judul Berita</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Judul Berita</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Judul Berita</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Judul Berita</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Judul Berita</h5>
        <input type="text" class="inputan" />
      </div>
    </div>

    
    <div class="berita-utama">
      <h3>Pengumuman</h3>
      <div class="gambar">
        <h5>Gambar 1</h5>
        <input
          type="file"
          id="file-input-6"
          (change)="onFileSelected($event, 'image6Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-6')">
          Choose File
        </button>
        <span id="image6Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 2</h5>
        <input
          type="file"
          id="file-input-7"
          (change)="onFileSelected($event, 'image7Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-7')">
          Choose File
        </button>
        <span id="image7Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 3</h5>
        <input
          type="file"
          id="file-input-8"
          (change)="onFileSelected($event, 'image8Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-8')">
          Choose File
        </button>
        <span id="image8Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input type="text" class="inputan" />
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input type="text" class="inputan" />
      </div>
    </div>

    <div class="berita-button">
      <button class="tutup">Tutup</button>
      <button class="simpan">Simpan</button>
    </div>
  </mat-card>
</div>
