<!-- Footer -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="berakhlak col-md-4 d-flex flex-column align-items-start">
                <div class="footer-logo mb-3">
                    <img src="assets/img/berakhlak.png" alt="BerAKHLAK Logo">
                </div>
                <ul>
                    <li>Form Keberatan Informasi Publik</li>
                    <li>Form Pengaduan Penyalahgunaan ASN</li>
                    <li>Form Pengaduan Pungli</li>
                    <li>Whistleblowing System</li>
                    <li>Form Indeks Kepuasan Masyarakat</li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <div class="footer-logo mb-3">
                    <img src="assets/img/logo-asbmuba.png" alt="Musi Banyuasin Logo">
                </div>
                <div class="address">
                    <p>BAGIAN ADMINISTRASI PEMBANGUNAN PEMERINTAH KABUPATEN MUSI BANYUASIN</p>
                    <p>Jalan Merdeka Lk. I No.452 Kel. Serasan Jaya Kec. Sekayu Kab. Musi Banyuasin 30711</p>
                    <a href="mailto:admin@mubakab.go.id" class="text-white">admin@mubakab.go.id</a><br>
                    <a href="tel:0714321021" class="text-white">0714-321-021</a>
                </div>
                <div class="social-icons">
                    <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="visitors mb-3">
                    <h5 class="text-white">Visitors</h5>
                        <img src="assets/img/visitor.png" alt="Flag Counter" style="margin-bottom: 3rem;">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Bagian Administrasi Pembangunan Pemerintah Kabupaten Musi Banyuasin</p>
    </div>
  
</footer>


