<div class="akun">
  <h1>Setting Web - Beranda</h1>
  <mat-card appearance="outlined" class="card-utama">
    <h3>Section 1 - Preview</h3>

    <div class="news-section">
      <div class="news-carousel">
        <button mat-icon-button class="carousel-control prev" (click)="prev()">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="news-cards">
          <div
            class="news-card"
            *ngFor="let news of newsList; let i = index"
            [class.active]="i === currentIndex"
          >
            <img [src]="news.image" alt="News Image" />
            <div class="news-overlay">
              <div class="news-date">{{ news.date | date : "dd-MM-yyyy" }}</div>
              <div class="news-title">{{ news.title }}</div>
            </div>
          </div>
        </div>

        <button mat-icon-button class="carousel-control next" (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input">
        <h5>Judul Section</h5>
        <input formControlName="sectionTitle" type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 1</h5>
        <input
          type="file"
          id="file-input-1"
          (change)="onFileSelected($event, 'image1Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-1')">
          Choose File
        </button>
        <span id="image1Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input
          formControlName="imageDescription1"
          type="text"
          class="inputan"
        />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input formControlName="date1" type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 2</h5>
        <input
          type="file"
          id="file-input-2"
          (change)="onFileSelected($event, 'image2Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-2')">
          Choose File
        </button>
        <span id="image2Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input
          formControlName="imageDescription2"
          type="text"
          class="inputan"
        />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input formControlName="date2" type="text" class="inputan" />
      </div>
      <div class="gambar">
        <h5>Gambar 3</h5>
        <input
          type="file"
          id="file-input-3"
          (change)="onFileSelected($event, 'image3Path')"
          style="display: none"
        />
        <button class="button" (click)="openFileDialog('file-input-3')">
          Choose File
        </button>
        <span id="image3Path" class="file-path"></span>
        <p>Jenis file JPG ukuran 800 x 570</p>
      </div>
      <div class="input">
        <h5>Deksripsi Gambar</h5>
        <input
          formControlName="imageDescription3"
          type="text"
          class="inputan"
        />
      </div>
      <div class="input">
        <h5>Tanggal</h5>
        <input formControlName="date3" type="text" class="inputan" />
      </div>
      <div class="berita-button">
        <button class="tutup" type="button">Tutup</button>
        <button class="simpan" type="submit">Simpan</button>
      </div>
    </form>
  </mat-card>
</div>
