<div class="ssh-container">
  <h1>Standar Satuan Harga (SSH)</h1>
  <div class="info-box">
    <p class="title">PP 12 Tahun 2019</p>
    <ol>
      <li>
        Belanja Daerah sebagaimana dimaksud dalam Pasal 49 ayat (5) berpedoman
        pada standar harga satuan regional, analisis standar belanja, dan/atau
        standar teknis sesuai dengan ketentuan peraturan perundang-undangan.
      </li>
      <li>
        Standar harga satuan regional sebagaimana dimaksud pada ayat (1) dan
        ayat (2) ditetapkan dengan Peraturan Presiden.
      </li>
      <li>
        Standar harga satuan regional sebagaimana dimaksud pada ayat (3)
        digunakan sebagai pedoman dalam menyusun standar harga satuan pada
        masing-masing Daerah.
      </li>
    </ol>
  </div>

  <div class="actions">
    <input type="text" placeholder="Cari data" class="search-box" />
  </div>

  <table class="ssh-table">
    <thead>
      <tr>
        <th>Kode Akun</th>
        <th>Nama Akun</th>
        <th>Pendapatan</th>
        <th>Belanja</th>
        <th>Pembiayaan</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4</td>
        <td>PENDAPATAN DAERAH</td>
        <td class="txt-center">Ya</td>
        <td class="txt-center">Tidak</td>
        <td class="txt-center">Tidak</td>
        <td></td> 
      </tr>
      <tr>
        <td>4.1</td>
        <td>PENDAPATAN ASLI DAERAH (PAD)</td>
        <td class="txt-center">Ya</td>
        <td class="txt-center">Tidak</td>
        <td class="txt-center">Tidak</td>
        <td></td> 
      </tr>
      <tr>
        <td>4.1.01</td>
        <td>Pajak Daerah</td>
        <td class="txt-center">Ya</td>
        <td class="txt-center">Tidak</td>
        <td class="txt-center">Tidak</td>
        <td></td> 
      </tr>
      <tr>
        <td>4.1.01.01</td>
        <td>Pajak Kendaraan Bermotor (PKB)</td>
        <td class="txt-center">Ya</td>
        <td class="txt-center">Tidak</td>
        <td class="txt-center">Tidak</td>
        <td></td> 
      </tr>
      <tr>
        <td>4.1.01.01.01</td>
        <td>PKB-Mobil Penumpang-Sedan</td>
        <td class="txt-center">Ya</td>
        <td class="txt-center">Tidak</td>
        <td class="txt-center">Tidak</td>
        <td></td> 
      </tr>
      
    </tbody>
  </table>
</div>