<div class="logo">
  <div class="logo-img">
    <img src="/assets/img/logo-asbmuba.png" />
  </div>
</div>
<div class="sidebar-wrapper" style="background-color: #16A085;">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems; let i = index"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" (click)="toggleSubmenu(i)" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
        <!-- Arrow icon to indicate submenu -->
        <i *ngIf="menuItem.submenu.length > 0" class="material-icons arrow-icon" [ngClass]="{'hide-arrow': menuItem.title === 'Standar Harga Satuan'}">
          {{ submenuVisible[i] ? 'expand_less' : 'expand_more' }}
        </i>
        
      </a>
      <!-- Check if there are submenu items and if the submenu is visible -->
      <ul *ngIf="menuItem.submenu.length > 0 && submenuVisible[i]" class="nav submenu">
        <li
          routerLinkActive="active"
          *ngFor="let subItem of menuItem.submenu"
          class="{{ subItem.class }} nav-item"
        >
          <a class="nav-link" [routerLink]="[subItem.path]">
            <i class="material-icons">{{ subItem.icon }}</i>
            <p>{{ subItem.title }}</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
