<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/img/logo-asbmuba.png" alt="Logo" class="logo">
    <!-- Add a menu button for mobile -->
    <button class="menu-toggle" (click)="toggleMenu()">
      &#9776; <!-- Menu icon (you can use an actual icon here) -->
    </button>
  </div>
  <ul [ngClass]="{'nav-links': true, 'active': isMenuOpen}">
    <li><a routerLink="/home">BERANDA</a></li>
    <li><a routerLink="/berita">BERITA</a></li>
    <li class="dropdown">
      <a routerLink="">STANDAR HARGA</a>
      <ul class="dropdown-content">
        <li><a routerLink="/ssh">Standar Harga Satuan (SSH)</a></li>
        <li><a routerLink="/hspk">Harga Satuan Pokok Pekerjaan (HSPK)</a></li>
        <li><a routerLink="/asb">Analisa Standar Belanja (ASB)</a></li>
      </ul>
    </li>
    <li><a routerLink="/peraturan">PERATURAN</a></li>
    <li><a routerLink="/informasi">INFORMASI</a></li>
  </ul>
</nav>
